#q1back {
  background-image: url("hardware.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  
}
#q1head { 
	color: lightblue; 
   
	font-size: 35px;
 }
#q1list {
	color: lightblue;
	
	font-size: 20px;
}	
#q2back {
  background-image: url("core.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#q2head { 
	color: lightgreen; 
    
	font-size: 35px;
 }
#q2list {
	color: lightgreen;
	
	font-size: 20px;
}	
#q3back {
  background-image: url("security.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#q3head{ 
	color: lightblue; 
    
	font-size: 35px;
 }
#q3list {
	color: lightblue;
	
	font-size: 20px; 
}
#q4back {
  background-image: url("cloud.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
 }
#q4head{ 
	color: lightblue; 
    
	font-size: 35px;
 }
#q4list {
	color: lightblue;
	
	font-size: 20px; 
}
#q5back {
  background-image: url("html.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
 }
#q5head{ 
	
	font-size: 35px;
 }
#q5list {
	
	font-size: 20px; 
}
#q6back {
  background-image: url("web.jpeg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
 }
#q6head{ 
	color:lightgreen; 
	
	font-size: 35px;
 }
#q6list {
	color:yellow;
	
	font-size: 20px; 
}
#q7back {
  background-image: url("css.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
 }
#q7head{ 
	color:darkblue; 
	
	font-size: 35px;
 }
#q7list {
	color:darkblue;
	text-align:centre;
	font-size: 20px; 
}
#q8back {
  background-image: url("comment.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
 }
#q8head{ 
	color:white; 
	
	font-size: 35px;
 }
#q8list {
	color:white;
	
	font-size: 20px; 
}
#q9back {
  background-image: url("java.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;;
 }
#q9head{ 
	color:darkred; 
	
	font-size: 35px;
 }
#q9list {
	color:darkred;
	
	font-size: 20px; 
}
#q10back {
  background-image: url("javasc.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
 }
#q10head{ 
	color:black; 
	
	font-size: 35px;
 }
#q10list {
	color:darkred;
	
	font-size: 20px; 
}
#finalback{
  background-image: url("happy.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
 } 
#finalhead {
	color:white;
	font-size: 45px; 
}
#javahead{
  background-image: url("images/smite.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
 } 
